<% if elements.present? %>
  <ul class="breadcrumb">
    <% elements[0..-2].each_with_index do |element, index| %>
    <li>
    <% if element.path.present? %>
      <a href="<%= element.path %>">
        <% if index == 0 %>
          <%= fa_icon("home 2x") %>
          <%= fa_stacked_icon("home", base: "square-o") %>
        <% end %>
        <%= element.name %>
      </a>
    <% else %>
      <%= element.name %>
    <% end %>
      <span class="divider">/</span>
    </li>
    <% end %>

    <%= elements.last.name %>
  </ul>
<% end %>