<div class="row">
  <div class="col-md-12">
    <div class="row" style="margin-bottom: 10px; border-bottom-style: ridge;">
      <div class="col-md-12">
        <%= link_to 'New Simpleform', new_simpleform_path %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= page_entries_info @simpleforms %>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Popular</th>
              <th>Simpleformp</th>
            </tr>
          </thead>
          <tbody>
            <% @simpleforms.each do |simpleform| %>
            <tr>
              <td><%= simpleform.id %></td>
              <td><%= simpleform.name %></td>
              <td><% if simpleform.popular %>It is very popular<% end %></td>
              <td><% if simpleform.simpleformp %><%= simpleform.simpleformp.name %><% end %></td>
              <td><% if simpleform.flavors %>Flavor<% end %></td>
              <td><%= link_to 'Show', simpleform %></td>
              <td><%= link_to 'Edit', edit_simpleform_path(simpleform) %></td>
              <td><%= link_to 'Destroy', simpleform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- <%= paginate @simpleforms %> -->
        <%= paginate(@simpleforms, :window => 2) %>
      </div>
    </div>    
  </div>
</div>