<div class="row">
  <div class="col-md-12">
    <table class="table table-striped"">
      <tbody>
        <tr>
          <td class="col-md-2">Name</td>
          <td class="col-md-10"><%= @simpleform.name %></td>
        </tr> 
        <tr>
          <td>Content</td>
          <td><%= @simpleform.content %></td>
        </tr>
        <tr>
          <td>Popular</td>
          <td><% if @simpleform.popular %>It is very popular<% end %></td>
        </tr>
        <tr>
          <td>Production date</td>
          <td><%= @simpleform.production_date %></td>
        </tr>
        <tr>
          <td>Expiration period</td>
          <td><% if  @simpleform.expiration_period %><%= @simpleform.expiration_period %>ヶ月<% end %></td>
        </tr>
        <tr>
          <td>Producing area</td>
          <td><% if  @simpleform.producing_area %><%= @simpleform.producing_area %><% end %></td>
        </tr>
        <tr>
          <td>Simpleformp</td>
          <td><% if @simpleform.simpleformp %><%= @simpleform.simpleformp.name %><% end %></td>
        </tr>
        <tr>
          <td>Flavor</td>
          <td>
            <% if @simpleform.flavors %>
            <% @simpleform.flavors.each_with_index do |flavor, idx| %>
            <% if idx!= 0 %>|<% end %>
            <%= flavor.name %>
            <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= link_to 'Edit', edit_simpleform_path(@simpleform) %> |
    <%= link_to 'Back', simpleforms_path %>
  </div>
</div>