<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @plant.age %>
</p>

<p>
  <strong>Color:</strong>
  <%= @plant.color %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
