<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
    <strong>Name:</strong><%= @universe.name %>
  </div>
</div>

<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
    <h2>Sands【has_and_belongs_to_many】</h2>
    <% if @universe.sands.present? %>
      <% @universe.sands.each do |sand| %>
        <%= sand.name %>|
      <% end %>
    <% end %>
  </div>
</div>

<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
    <h2>Lives【has_many:through】</h2>
    <% if @universe.lives.present? %>
      <% @universe.lives.each do |life| %>
        <%= life.name %>|
      <% end %>
    <% end %>
  </div>
</div>

<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
    <h2>Materials【has_many】</h2>
    <% if @universe.materials.present? %>
    <%= render @universe.materials %>
    <% end %>
  </div>
</div>   

<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
    <h2>Add a material:</h2>
    <%= render "materials/form" %>
  </div>
</div>

<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
    <h2>Eachtimes【polymorphic】</h2>
    <% if @universe.eachtimes.present? %>
    <%= render @universe.eachtimes %>
    <% end %>
  </div>
</div>   

<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
    <h2>Add a eachtime:</h2>
    <%= render "eachtimes/form" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Edit', edit_universe_path(@universe) %> |
    <%= link_to 'Back', universes_path %>
  </div>
</div>  