<!DOCTYPE html>
<html>
  <head>
    <title>RailsGems</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container">
      <% if showLocale?(controller.controller_name, controller.action_name) %>
      <div class="row" style="margin-bottom: 10px;padding-bottom: 5px">
        <div class="col-md-12">
          <%= link_to "英語", home_url(:locale => 'en') %> |
          <%= link_to "日本語", home_url(:locale => 'ja') %>
        </div>
      </div>
      <% if 'home' != controller.controller_name %>
      <%= render 'shared/breadcrumbs' %>
      <div class="row" style="margin-bottom: 10px; padding-bottom:5px; border-bottom-style: ridge;border-top-style: ridge">
        <div class="col-md-1"> 
          Customize:
        </div>
        <div class="col-md-11"> 
          <%= render_breadcrumbs builder: ::CustomBreadcrumbsBuilder %>
        </div>
      </div>  
      <% end %>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>      
  </body>
</html>
